<h1 mat-dialog-title>{{ "Demande d'échange" }}</h1>
<div mat-dialog-content>

  <!--  <mat-form-field>-->
  <!--    <mat-autocomplete #auto="matAutocomplete">-->
  <!--      <mat-option *ngFor="let user of users" [value]="user.id">-->
  <!--        <img src="{{user.avatar}}"/>-->
  <!--        {{user.name}}-->
  <!--      </mat-option>-->
  <!--    </mat-autocomplete>-->

  <!--    <input type="text"-->
  <!--           placeholder="Pick one"-->
  <!--           aria-label="Number"-->
  <!--           matInput-->
  <!--           [formControl]="tradeForm.controls['user']"-->
  <!--           [matAutocomplete]="auto">-->
  <!--    <mat-error *ngIf="tradeForm.controls['user'].hasError('required')">-->
  <!--      Un utilisateur est requis-->
  <!--    </mat-error>-->
  <!--  </mat-form-field>-->
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>{{ 'Fermer' }}</button>
</div>
