<section class="options">
  <ul>
    <li>
      <label>
        <mat-slide-toggle (click)="toggleOption({allowTrading: !options?.allowTrading})"
                          [checked]="options?.allowTrading" color="primary"
                          aria-label="{{ 'profile.options.allowTrading'|translate }}"></mat-slide-toggle>
        <span>{{ 'profile.options.allowTrading'|translate }}</span>
      </label>
    </li>
    <li>
      <label>
        <mat-slide-toggle (click)="toggleOption({allowOthersToViewActivity: !options?.allowOthersToViewActivity})"
                          [checked]="options?.allowOthersToViewActivity" color="primary"
                          aria-label="{{ 'profile.options.allowOthersToViewActivity'|translate }}"></mat-slide-toggle>
        <span>{{ 'profile.options.allowOthersToViewActivity'|translate }}</span>
      </label>
    </li>
  </ul>
</section>
