<div class="grid h-screen place-items-center">
  <div>
    <h2 id="signup-title" class="text-center mb-2">{{ 'register.actionLabel'|translate }}</h2>

    <div class="flex justify-center flex-row">
      <form [formGroup]="signupForm" (ngSubmit)="signupAction()">
        <div>
          <mat-form-field>
            <mat-label>{{'register.form.nicknameLabel'|translate}}</mat-label>
            <input id="nickname" matInput formControlName="nickname">
            <mat-error>Nickname is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>{{'register.form.loginLabel'|translate}}</mat-label>
            <input id="login" matInput formControlName="email">
            <mat-error *ngIf="email?.errors?.['email']">Email must be an email</mat-error>
            <mat-error *ngIf="email?.errors?.['required']">Email is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>{{'register.form.passwordLabel'|translate}}</mat-label>
            <input id="password" matInput formControlName="password" type="password">
            <mat-error>Password is required</mat-error>
          </mat-form-field>
        </div>

        <div>
          <mat-form-field>
            <mat-label>{{'register.form.confirmPasswordLabel'|translate}}</mat-label>
            <input id="repeat-password" matInput type="password" formControlName="repeatedPassword">
          </mat-form-field>
          <div *ngIf="signupForm?.errors?.['match_error']">
            <mat-error>Your password does not match</mat-error>
          </div>
        </div>

        <button id="signup-btn" class="btn btn-secondary" type="submit" [disabled]="signupForm.invalid">
          Sign up
        </button>
      </form>
    </div>
  </div>
</div>
