<section class="statistics" data-cy="statistics">
  <header>
    <mat-icon aria-hidden="false" aria-label="Statistics" fontIcon="description"></mat-icon>
    <h2>{{ 'profile.stats.title' | translate }}</h2>
  </header>
  <ul>
    <li>
      <p>{{ 'profile.stats.capturedPokemons' | translate }} : <b>{{stats?.capturedPokemons | number}}</b></p>
    </li>
    <li>
      <p>{{ 'profile.stats.thrownPokeballs' | translate }} : <b>{{stats?.thrownPokeballs | number}}</b></p>
    </li>
    <li>
      <p>{{ 'profile.stats.tradingFulfilled' | translate }} : <b>{{stats?.tradingFulfilled | number}}</b></p>
    </li>
  </ul>
</section>
