// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

.pokeball {
  @apply w-14 h-14;
}

.btn {
  @apply font-semibold py-3 px-12 rounded rounded-lg shadow;

  &-secondary {
    @apply bg-secondary transform duration-300 hover:opacity-90 text-white border border-black;
  }

  &-primary {
    @apply bg-primary transform duration-300 hover:opacity-90 text-white border border-black;
  }
}

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$app-primary: mat.define-palette(
    (
      50: #ebe1e4,
      100: #ccb3bb,
      200: #ab818e,
      300: #894e60,
      400: #6f283e,
      500: #56021c,
      600: #4f0219,
      700: #450114,
      800: #3c0111,
      900: #2b0109,
      A100: #ff6575,
      A200: #ff3247,
      A400: #fe001a,
      A700: #e50018,
      contrast: (
        50: #000000,
        100: #000000,
        200: #000000,
        300: #ffffff,
        400: #ffffff,
        500: #ffffff,
        600: #ffffff,
        700: #ffffff,
        800: #ffffff,
        900: #ffffff,
        A100: #000000,
        A200: #ffffff,
        A400: #ffffff,
        A700: #ffffff,
      ),
    )
);
$app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$app-warn: mat.define-palette(mat.$red-palette);

$body1: mat.define-typography-level(
  $font-family: Inter,
  $font-weight: 400,
  $font-size: 15px,
  $line-height: 18.15px,
);

$app-typography: mat.define-typography-config(
  $body-1: $body1,
);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-light-theme(
    (
      color: (
        primary: $app-primary,
        accent: $app-accent,
        warn: $app-warn,
      ),
      typography: $app-typography,
    )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

/* You can add global styles to this file, and also import other style files */

body {
  font-family: 'Inter', 'Roboto', 'Helvetica', sans-serif;
  color: white;
  background: #AA7B8A;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  max-width: 100%;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.main {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  height: calc(100vh - 185px);
}
