.profile-name{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

header {
  background: #6f283e; //TODO: replace by ($app-primary, 400)
  padding: 1rem;
  border-radius: 0.375rem;
  border: 1px solid #000000;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 1), 0 2px 4px -2px rgb(0 0 0 / 1);
}

header > div {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 15px;
}

h1{
  margin: 0;
  letter-spacing: 0.05rem;
}

p {
  padding-left: 1rem;
}


.trainer-avatar{
  padding: 10px;
  overflow: hidden;
}

img {
  object-fit: cover;
  width: 95%;
  border-radius: 9999px;
  border: 2px solid #000000;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.8), 0 1px 2px -1px rgb(0 0 0 / 0.8);
}

mat-icon{
  font-size: 40px;
  height: 2.5rem;
  width: 2.5rem;
}
