.avatar {
  border-radius: 50%;
  text-align: center;
  width: 90px;
  height: 90px;

  &-empty {
    background-color: #e0e0e0;
  }

  &-owned {
    border: 3px solid #5f021f;
  }

  &-notowned {
    border: none;
  }

  &-captured {
    border: 3px solid #5f021f;
    border-style: dashed;
  }
}

.favorite-icon {
  color: #5f021f;
}

.pokemon-image {
  object-fit: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.quantity {
  z-index: 1;
  position: absolute;
  margin-top: 10px;
  margin-left: 65px;
}

.favorite {
  z-index: -1;
  position: absolute;
  color: #686B6F;
  margin-top: 70px;
  margin-left: -30px;
}

.tool-tip {
  overflow: auto;
  z-index: 2;
  margin-top: 5px;
  background-color: #333333;
  width: 85%;
  margin-left: 15px;
  border-radius: 4px;
  position: absolute;
  left: 0;
}

.tool-tip-avatar {
  width: 100px;
  height: 80px;
}

.icon-type {
  width: 20px;
  height: 20px;
}

ul {
  display: flex;
  flex-direction: row;
}
