<ng-container *ngIf="user && pokemon">
  <ng-container *ngIf="userService.user$ | async; let currentUser;">

    <div class="flex justify-center mb-5">
      <ng-container *ngIf="currentUser.id !== user.id">{{ user.infos.name }} a</ng-container>
      <ng-container *ngIf="currentUser.id === user.id">Vous avez</ng-container>
      capturé un {{ pokemon.name | titlecase }}
    </div>

    <div class="mt-5 flex justify-center">
      <div class="flex flex-row justify-center w-1/2">
        <img *ngIf="user.id !== currentUser.id && user.options.allowTrading" (click)="openTradeDialog()"
             class="cursor-pointer min-w-[33px]"
             src="assets/action/trade.svg" alt="Trade Icon">
      </div>
    </div>
  </ng-container>
</ng-container>
