<div>
  <div class="grid grid-cols-4 justify-items-center">
    <app-pokeball
      [pokeball]="pokeball"
      (click)="selectPokeball(pokeball)"
      *ngFor="let pokeball of pokeballs"
      class="cursor-pointer"
      [isSelected]="pokeball.name === selectedBall?.name"
    ></app-pokeball>
  </div>
  <div
    *ngIf="selectedBall"
    class="text-center mt-5 p-3 rounded-md bg-secondary"
  >
    <p>Capture: {{selectedBall.captureChanceInPercentage}}% chance</p>
    <p>Next ball in : {{nextGenerationIn}}</p>
  </div>
</div>
