<div class="search-filters">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>{{ 'pokedex.search' | translate }}</mat-label>
      <mat-icon matPrefix mat-button color="primary">search</mat-icon>
      <input
        type="tel"
        matInput
        placeholder="Search"
        name="search"
        [(ngModel)]="this.pokedexFilters.searchNameValue"
        (ngModelChange)="handleSearchFilter()"
      />
    </mat-form-field>
  </form>
  <div class="filter">
    <button
      class="flex justify-center items-center h-14 w-14 bg-card rounded-full border border-black shadow-md shadow-black hover:bg-secondary hover:text-gray-300l"
      mat-raised-button (click)="openDialog()"
    >
      <img src="/assets/pokedex/filter.svg" alt="filter pokemon icon" />
    </button>
  </div>
</div>
<div class="pokedex-content">
  <div class="grid grid-cols-3 sm:grid-cols-4 gap-3 justify-items-center">
    <app-pokemon-avatar
      [pokemon]="pokemon"
      [selectedPokemon]="selectedPokemon"
      [handleFavoritePokemon]="handleFavoritePokemon.bind(this, pokemon)"
      [setSelectedPokemon]="setSelectedPokemon"
      [unselectPokemon]="unselectPokemon"
      *ngFor="let pokemon of filteredPokemons"
    ></app-pokemon-avatar>
  </div>
</div>
