<div class="search-filters">
    <form class="example-form">
        <mat-form-field class="example-full-width">
            <mat-label>Search...</mat-label>
            <mat-icon matPrefix mat-button>search</mat-icon>
            <input type="tel" matInput placeholder="Search" name= "search" [(ngModel)]= "search">
        </mat-form-field>
        {{search}}
    </form>
    <div class="filter">
        <button mat-raised-button (click)="openDialog('0ms', '0ms')">
            <mat-icon mat-button>filter_list</mat-icon>
        </button>
    </div>
</div>
<div class="pokedex-content">
    <mat-grid-list cols="4" rowHeight="1:1">
        <mat-grid-tile>
            <app-pokemon-avatar border='owned'></app-pokemon-avatar>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-pokemon-avatar border='captured'></app-pokemon-avatar>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-pokemon-avatar border='owned' [quantity]=2></app-pokemon-avatar>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-pokemon-avatar border='notowned'></app-pokemon-avatar>
        </mat-grid-tile>
        <mat-grid-tile>
            <app-pokemon-avatar border='notowned'></app-pokemon-avatar>
        </mat-grid-tile>
    </mat-grid-list>
</div>

