<div id="hunt-page">
  <h2>Hunt page</h2>

  <div *ngIf="step === 'HUNT'">
    <app-energy-state
      *ngIf="energyState"
      [energyState]="energyState"
    ></app-energy-state>
    <button mat-raised-button (click)="goToBallSelection()">Hunt</button>
  </div>

  <div *ngIf="step === 'BALL_SELECTION'">
    <p>Pokeball Selection</p>
    <app-pokeball-list
      (selectBall)="selectBall($event)"
      [selectedBall]="selectedBall"
      [pokeballs]="pokeballsState"
    ></app-pokeball-list>
    <button mat-raised-button (click)="capture()" [disabled]="!selectedBall">
      CAPTURE
    </button>
    <button mat-raised-button (click)="giveUp()">GIVE UP</button>
  </div>

  <div *ngIf="step === 'RESULT'">
    <p>Result</p>
  </div>
</div>
