<div id="hunt-page">
  <h2 id="hunt-title">{{ 'hunt.title' |translate}}</h2>

  <div *ngIf="['BALL_SELECTION', 'RESULT', 'POKEMON_RESISTED'].includes(step) && pokemonToCapture !== null">
    <p *ngIf="step === 'BALL_SELECTION'">{{ 'hunt.a' |translate}} <span
      class="font-semibold">{{pokemonToCapture.name}}</span> {{ 'hunt.appears' |translate}} !</p>
    <p *ngIf="step === 'POKEMON_RESISTED'"><span
      class="font-semibold">{{pokemonToCapture.name}}</span> {{ 'hunt.resistedAttempt' |translate }} !</p>
    <p *ngIf="step === 'RESULT' && pokemonWasCaptured">{{ 'hunt.congrats' |translate }} ! <span
      class="font-semibold">{{pokemonToCapture.name}}</span> {{ 'hunt.captured' |translate }} !</p>
    <p *ngIf="step === 'RESULT' && !pokemonWasCaptured"><span
      class="font-semibold">{{pokemonToCapture.name}}</span> {{ 'hunt.escaped' |translate }} !</p>
    <img class="w-32 h-32 m-auto" src="{{pokemonToCapture.image}}" alt="{{pokemonToCapture.name}}">
  </div>

  <div *ngIf="['HUNT', 'RESULT'].includes(step)">
    <app-energies-state
      *ngIf="energiesState"
      [energiesState]="energiesState"
    ></app-energies-state>
    <div class="flex justify-center mt-6">
      <button mat-raised-button (click)="goToBallSelection()"> {{ 'hunt.action' |translate }}</button>
    </div>
  </div>

  <div *ngIf="['POKEMON_RESISTED', 'BALL_SELECTION'].includes(step) && pokemonToCapture !== null">
    <p>{{ 'hunt.actions.choose' |translate }} <span class="font-semibold">{{pokemonToCapture.name}}</span></p>
    <app-pokeball-list
      (selectBall)="selectBall($event)"
      [selectedBall]="selectedBall"
      [pokeballs]="pokeballsState"
    ></app-pokeball-list>
    <div class="mt-2 space-x-2">
      <button mat-raised-button (click)="capture()" [disabled]="!selectedBall">
        {{ 'hunt.actions.capture' |translate|uppercase }}
      </button>
      <button mat-raised-button (click)="giveUp()">{{ 'hunt.actions.giveUp' |translate|uppercase }}</button>
    </div>
  </div>
</div>
